@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-churras {
  background-image: url("../../public/bg-churras.jpg") ;
  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

.gradient-overlay {
  background: linear-gradient(180deg, transparent 1%, #FFD836);
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}